/* Body Styles */
body {
  font-family: "Roboto", sans-serif;
}
/* Header Title */
.header-title {
  padding: 25px 0;
  font-weight: bold;
  font-size: 44px;
  line-height: 59px;
  color: #31a5ac;
}
/* Banner image */
.banner-img {
  border-radius: 6px;
}
/* Right Banner Bg */
.right-part-bg {
  background-color: #f8f8f8;
  border-radius: 6px;
  padding: 15px 100px;
}
/* P Tag Customize */
p {
  margin: 0 15px;
}
/* h5 Tag Customize */
h5 {
  font-weight: 500;
  color: #212529;
  font-size: 20px;
  line-height: 26px;
}
/* Bootstrap Button Customize */
.btn {
  padding-left: 50px;
  padding-right: 50px;
}
/* Bootstrap Form Customize */
.form-control {
  background-color: #ebebeb;
}

#alert-1,
#alert-2,
#alert-3 {
  display: none;
}

/* Responsiveness for small devices */
@media screen and (max-width: 688px) {
  .header-title {
    font-size: 32px;
    line-height: 40px;
  }
  .right-part-bg {
    padding: 15px 30px;
  }
  .form-control {
    margin-left: 10px;
  }
}
